@import url(https://fonts.googleapis.com/css?family=Noto+Sans+TC);

* {
  font-family: "Noto Sans TC";
}

:root {
  /* Colors: */
  ---faad14-warning: #faad14;
  --7550ab-missing: #7550ab;
  ---1890ff-processing-started: #1890ff;
  ---896b21-now-calling: #896b21;
  ---68b58c-registered-queuing: #68b58c;
  --unnamed-color-fffffe: #fffffe;
  --unnamed-color-097032: #097032;
  --unnamed-color-f5f5f5: #f5f5f5;
  --unnamed-color-00000040: #00000040;
  --unnamed-color-666666: #666666;
  --unnamed-color-333333: #333333;
  --unnamed-color-a6a6a6: #a6a6a6;
  ---118538-completed: #118538;
  --unnamed-color-ffffff: #ffffff;
  --unnamed-color-009944: #009944;
  --unnamed-color-1d4e4d: #1d4e4d;
  --unnamed-color-1a1a3e: #1a1a3e;
  --unnamed-color-ae2019: #ae2019;
  --unnamed-color-000000d9: #000000d9;

  /* Font/text values */
  --unnamed-font-family-noto-sans-tc: Noto Sans TC;
  --unnamed-font-family-work-sans: Work Sans;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-900: 900px;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-weight-medium: medium;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-28: 28px;
  --unnamed-font-size-32: 32px;
  --unnamed-font-size-36: 36px;
  --unnamed-font-size-48: 48px;
  --unnamed-font-size-56: 56px;
  --unnamed-font-size-64: 64px;
  --unnamed-font-size-118: 118px;
  --unnamed-font-size-126: 126px;
  --unnamed-font-size-170: 170px;
  --unnamed-font-size-188: 188px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-character-spacing-2-4: 2.4px;
  --unnamed-character-spacing-3-2: 3.2px;
  --unnamed-character-spacing-9-4: 9.4px;
  --unnamed-character-spacing-1-8: 1.8px;
  --unnamed-character-spacing-5-9: 5.9px;
  --unnamed-character-spacing--0-22: -0.22px;
  --unnamed-line-spacing-16: 16px;
  --unnamed-line-spacing-20: 20px;
  --unnamed-line-spacing-22: 22px;
  --unnamed-line-spacing-36: 36px;
  --unnamed-line-spacing-41: 41px;
  --unnamed-line-spacing-54: 54px;
  --unnamed-line-spacing-71: 71px;
  --unnamed-line-spacing-80: 80px;
  --unnamed-line-spacing-94: 94px;
}

/* Character Styles */
.unnamed-character-style-1 {
  font-family: var(--unnamed-font-family-noto-sans-tc);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-900);
  font-size: var(--unnamed-font-size-188);
  line-height: var(--unnamed-line-spacing-36);
  letter-spacing: var(--unnamed-character-spacing-9-4);
  color: var(--unnamed-color-009944);
}
.unnamed-character-style-2 {
  font-family: var(--unnamed-font-family-noto-sans-tc);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-118);
  line-height: var(--unnamed-line-spacing-36);
  letter-spacing: var(--unnamed-character-spacing-5-9);
  color: var(--unnamed-color-1d4e4d);
}
.unnamed-character-style-3 {
  font-family: var(--unnamed-font-family-work-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-medium);
  font-size: var(--unnamed-font-size-32);
  line-height: var(--unnamed-line-spacing-22);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-097032);
}
.unnamed-character-style-4 {
  font-family: var(--unnamed-font-family-work-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-medium);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-16);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000d9);
}
.unnamed-character-style-5 {
  font-family: var(--unnamed-font-family-work-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-20);
  letter-spacing: var(--unnamed-character-spacing--0-22);
  color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-6 {
  font-family: var(--unnamed-font-family-noto-sans-tc);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-36);
  line-height: var(--unnamed-line-spacing-54);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ae2019);
}
.unnamed-character-style-7 {
  font-family: var(--unnamed-font-family-noto-sans-tc);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-900);
  font-size: var(--unnamed-font-size-126);
  line-height: var(--unnamed-line-spacing-80);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-1a1a3e);
}
.unnamed-character-style-8 {
  font-family: var(--unnamed-font-family-noto-sans-tc);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-28);
  line-height: var(--unnamed-line-spacing-41);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ae2019);
}
.noto-sans-tc-—-48pt-missed {
  font-family: var(--unnamed-font-family-noto-sans-tc);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-900);
  font-size: var(--unnamed-font-size-48);
  line-height: var(--unnamed-line-spacing-36);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ae2019);
}
.noto-sans-tc-—-48pt-waiting {
  font-family: var(--unnamed-font-family-noto-sans-tc);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-900);
  font-size: var(--unnamed-font-size-48);
  line-height: var(--unnamed-line-spacing-36);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-1a1a3e);
}
.noto-sans-tc-—-126pt-active {
  font-family: var(--unnamed-font-family-noto-sans-tc);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-900);
  font-size: var(--unnamed-font-size-126);
  line-height: var(--unnamed-line-spacing-36);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-1a1a3e);
}
.noto-sans-tc-—-170pt-calling {
  font-family: var(--unnamed-font-family-noto-sans-tc);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-900);
  font-size: var(--unnamed-font-size-170);
  line-height: var(--unnamed-line-spacing-36);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-009944);
}
.noto-sans-tc-—-36pt-missed {
  font-family: var(--unnamed-font-family-noto-sans-tc);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-900);
  font-size: var(--unnamed-font-size-36);
  line-height: var(--unnamed-line-spacing-36);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ae2019);
}
.noto-sans-tc-—-28pt-waiting {
  font-family: var(--unnamed-font-family-noto-sans-tc);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-28);
  line-height: var(--unnamed-line-spacing-36);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-1a1a3e);
}
.noto-sans-tc-—-56pt-calling {
  font-family: var(--unnamed-font-family-noto-sans-tc);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-900);
  font-size: var(--unnamed-font-size-56);
  line-height: var(--unnamed-line-spacing-36);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-009944);
}
.noto-sans-tc-—-56pt-active {
  font-family: var(--unnamed-font-family-noto-sans-tc);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-900);
  font-size: var(--unnamed-font-size-56);
  line-height: var(--unnamed-line-spacing-36);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-1a1a3e);
}
.unnamed-character-style-9 {
  font-family: var(--unnamed-font-family-noto-sans-tc);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-36);
  line-height: var(--unnamed-line-spacing-36);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-1a1a3e);
}
.unnamed-character-style-10 {
  font-family: var(--unnamed-font-family-noto-sans-tc);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-900);
  font-size: var(--unnamed-font-size-64);
  line-height: var(--unnamed-line-spacing-36);
  letter-spacing: var(--unnamed-character-spacing-3-2);
  color: var(--unnamed-color-1d4e4d);
}
.unnamed-character-style-11 {
  font-family: var(--unnamed-font-family-noto-sans-tc);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-900);
  font-size: var(--unnamed-font-size-48);
  line-height: var(--unnamed-line-spacing-71);
  letter-spacing: var(--unnamed-character-spacing-2-4);
  color: var(--unnamed-color-1a1a3e);
}
.unnamed-character-style-12 {
  font-family: var(--unnamed-font-family-noto-sans-tc);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-900);
  font-size: var(--unnamed-font-size-64);
  line-height: var(--unnamed-line-spacing-94);
  letter-spacing: var(--unnamed-character-spacing-3-2);
  color: var(--unnamed-color-1a1a3e);
}
.unnamed-character-style-13 {
  font-family: var(--unnamed-font-family-noto-sans-tc);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-36);
  line-height: var(--unnamed-line-spacing-36);
  letter-spacing: var(--unnamed-character-spacing-1-8);
  color: var(--unnamed-color-ffffff);
}